<html>
 <head>
 <title>Scammer Registry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="library/miso.ds.0.4.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css"> 
 </head>
 <body ng-app="ScamRegApp" ng-controller="ScamRegController">
	<div class="container">
		<h1>Beloved Scammer Registry</h1>
		<div class="col-xs-9">
		<input type="text" id="searchbar" class="form-control" placeholder="Loading Data..." disabled ng-model="searchtext">
		</div>
		<div class="col-xs-3">
			<select class="form-control" id="searchcriteria" disabled ng-model="searchcriteria.value" ng-options = "v for v in searchcriteria.values">
		</select>
		</div>
	</div>
	<div class="container">
	<br>
	<br>
		<div ng-if="searchtext.length != 0 && results.length != 0">
			 <strong>{{results.length}} result(s) found.</strong>
		</div>
		<div ng-if="results.length==0 && searchtext.length != 0">
			 <strong>No results found.</strong>
		</div>
		<div ng-if="searchtext.length == 0">
			 <strong>Search.</strong>
		</div>
		<br>
		<div ng-repeat="row in retrieveddata | filter:search as results" ng-hide = "searchtext.length == 0">
			<div ng-hide = "row['ScammerIGNs'] == null"><strong>IGN(s):</strong> {{row['ScammerIGNs']}}<br></div>
			<div ng-hide = "row['Names'] == null"><strong>Name(s):</strong> {{row['Names']}}<br></div>
			<div ng-hide = "row['ScammerFarmNames'] == null"><strong>Farm Names(s):</strong> {{row['ScammerFarmNames']}}<br></div>
			<div ng-hide = "row['Victims'] == null"><strong>Victim(s):</strong> {{row['Victims']}}<br></div>
			<div ng-hide = "row['Date'] == null"><strong>Date:</strong> {{row['Date']}}<br></div>
			<div ng-hide = "row['ScammerWorlds'] == null"><strong>World:</strong> {{row['ScammerWorlds']}}<br></div>
			<div ng-hide = "row['IncidentReportSummary'] == null"><strong>Incident Description:</strong> {{row['IncidentReportSummary']}}<br></div>
			<div ng-hide = "row['ReportedBy'] == null"><strong>Entry added by:</strong> {{row['ReportedBy']}}<br></div>
			<div ng-hide = "row['Notes'] == null"><strong>Note:</strong> {{row['Notes']}}<br></div>
			<br>
			<hr>
			<br>
		</div>
	</div>
	<div class = "container">
	
	</div>
	<script src="scripts/Controller.js"></script>
 </body>
</html>