<div class="container-fluid" ng-controller="ScamRegController">
	<div class="container-fluid">
		<h1>Beloved Scammer Registry</h1>
		<p>The Scammer Registry is Beloved's record of known Scammers and bad vouchers. It should be noted that not everyone on this list has been confirmed to be a scammer and that the names come from various sources.</p>
		<p>Know a scammer not on the list? <a href="https://docs.google.com/forms/d/1oMDIPnPWiNYG6lHO8ToQUbwmOMXgmwIF9DC4JsH7URk/viewform" target="_blank">Make a request to add them.</a></p>
			<input type="text" id="searchbar" class="form-control" placeholder="Loading Data..." disabled ng-model="searchtext">
		<!--
		<div class="col-xs-3">
			<select class="form-control" id="searchcriteria" disabled ng-model="searchcriteria.value" ng-options = "v for v in searchcriteria.values">
		</select>
		</div> -->
	</div>
	<div class="container-fluid">
		<br>
		<br>
		<div ng-if="searchtext.length != 0 && results.length != 0">
			 <strong>{{results.length}} result(s) found.</strong>
		</div>
		<div ng-if="results.length==0 && searchtext.length != 0">
			 <strong>No results found.</strong>
		</div>
		<div ng-if="searchtext.length == 0">
			 <strong>Search.</strong>
		</div>
		<br>
		<div ng-repeat="row in retrieveddata | filter:searchtext as results" ng-hide = "searchtext.length == 0">
			<div ng-hide = "row['ScammerIGNs'] == null"><strong>IGN(s):</strong> {{row['ScammerIGNs']}}<br></div>
			<div ng-hide = "row['Names'] == null"><strong>Name(s):</strong> {{row['Names']}}<br></div>
			<div ng-hide = "row['ScammerFarmNames'] == null"><strong>Farm Names(s):</strong> {{row['ScammerFarmNames']}}<br></div>
			<div ng-hide = "row['Victims'] == null"><strong>Victim(s):</strong> {{row['Victims']}}<br></div>
			<div ng-hide = "row['Date'] == null"><strong>Date:</strong> {{row['Date']}}<br></div>
			<div ng-hide = "row['ScammerWorlds'] == null"><strong>World:</strong> {{row['ScammerWorlds']}}<br></div>
			<div ng-hide = "row['IncidentReportSummary'] == null"><strong>Incident Description:</strong> {{row['IncidentReportSummary']}}<br></div>
			<div ng-hide = "row['ReportedBy'] == null"><strong>Entry added by:</strong> {{row['ReportedBy']}}<br></div>
			<div ng-hide = "row['Notes'] == null"><strong>Note:</strong> {{row['Notes']}}<br></div>
			<br>
			<hr>
			<br>
		</div>
	</div>
</div>