#memberbg{
	background: center no-repeat url('../img/memberbg_cr.png'); /*ImageEmbed:skip*/
	height: 988px;
	min-width: 1258px;
	max-width: 1258px;
	width: auto !important;
	overflow: visible;
}

.player{
	display: inline-block;
	float:left;
	position:relative;
}
.pl_avatar{
	cursor:pointer;
	margin:auto;
	position:relative;
	
}
/*texttag class needed for any kind of medal or name tag */
.texttag{
	display:block;
	text-align:center;
	margin:auto;
	background: transparent;
}
.texttag_left{
	display: inline-block;
	position:relative;
	background: transparent no-repeat;
	vertical-align:top;

}
.texttag_mid{
	position:relative;
	display: inline-block;
	vertical-align:top;
	text-align:center;
	padding-left:2px;
	padding-right:2px;
	font-size:14px;
	font-family: "Arial";
	background: transparent repeat;


}
.texttag_right{
	display: inline-block;
	position:relative;
	background: transparent no-repeat;
	vertical-align:top;
}

/*Ink and Wash*/
.namelbl_59{
	opacity:1;
}
.namelbl_59_left{
	background: url('../img/lbl/lr59_l.png');
	top:0px;
	height:25px;
	width:28px;
}
.namelbl_59_mid{
	background: url('../img/lbl/lr59_m.png');
	top:0px;
	height:25px;
	line-height:25px;
	color:white;
}
.namelbl_59_right{
	background: url('../img/lbl/lr59_r.png');
	top:0px;
	height:25px;
	width:31px;
}

/*Rose Label Ring*/
.namelbl_40{
	opacity:1;
}
.namelbl_40_left{
	background: url('../img/lbl/lr40_l.png');
	top:0px;
	height:32px;
	width:27px;
}
.namelbl_40_mid{
	background: url('../img/lbl/lr40_m.png');
	top:9px;
	height:19px;
	line-height:19px;
	color:white;
}
.namelbl_40_right{
	background: url('../img/lbl/lr40_r.png');
	top:2px;
	height:32px;
	width:31px;
}

/*Bamboo*/
.namelbl_58{
	opacity:1;
}
.namelbl_58_left{
	background: url('../img/lbl/lr58_l.png');
	top:0px;
	height:20px;
	width:12px;
}
.namelbl_58_mid{
	background: url('../img/lbl/lr58_m.png');
	top:0px;
	height:20px;
	line-height:20px;
	color:black;
}
.namelbl_58_right{
	background: url('../img/lbl/lr58_r.png');
	top:0px;
	height:20px;
	width:12px;
}

/*AppleRing*/
.namelbl_43{
	opacity:0.8;
}
.namelbl_43_left{
	background: url('../img/lbl/lr43_l.png');
	top:0px;
	height:24px;
	width:22px;
}
.namelbl_43_mid{
	background: url('../img/lbl/lr43_m.png');
	top:4px;
	height:20px;
	line-height:20px;
	color:brown;
}
.namelbl_43_right{
	background: url('../img/lbl/lr43_r.png');
	top:0px;
	height:24px;
	width:8px;
}

/*Junk Food Medal*/
.medal_717{
	opacity:1;
}
.medal_717_left{
	background: url('../img/lbl/m717_l.png');
	top:0px;
	height: 38px;
	width:38px;
}
.medal_717_mid{
	background: url('../img/lbl/m717_m.png');
	top:12px;
	height:25px;
	line-height:25px;
	color:white;
}
.medal_717_right{
	background: url('../img/lbl/m717_r.png');
	top:4px;
	height:36px;
	width:37px;
}

/*Spirit of Sengoku*/
.medal_648{
	opacity:1;
}
.medal_648_left{
	background: url('../img/lbl/m648_l.png');
	top:0px;
	height: 34px;
	width:41px;
}
.medal_648_mid{
	background: url('../img/lbl/m648_m.png');
	top:6px;
	height:23px;
	line-height:23px;
	color:white;
}
.medal_648_right{
	background: url('../img/lbl/m648_r.png');
	top:6px;
	height:41px;
	width:34px;
}

/*696 purple "555"*/
.medal_696{
	opacity:1;
}
.medal_696_left{
	background: url('../img/lbl/m696_l.png');
	top:0px;
	height: 18px;
	width:26px;
}
.medal_696_mid{
	background: url('../img/lbl/m696_m.png');
	top:1px;
	height:17px;
	line-height:17px;
	color:white;
}
.medal_696_right{
	background: url('../img/lbl/m696_r.png');
	top:1px;
	height:17px;
	width:7px;
}

/*485 purple*/
.medal_485{
	opacity:1;
}
.medal_485_left{
	background: url('../img/lbl/m485_l.png');
	top:2px;
	height: 17px;
	width:20px;
}
.medal_485_mid{
	background: url('../img/lbl/m485_m.png');
	top:2px;
	height:17px;
	line-height:17px;
	color:white;
}
.medal_485_right{
	background: url('../img/lbl/m485_r.png');
	top:2px;
	height:17px;
	width:16px;
}

/*Irena Medal*/
.medal_554{
	opacity:1;
}
.medal_554_left{
	background: url('../img/lbl/m554_l.png');
	top:0px;
	height: 17px;
	width:28px;
}
.medal_554_mid{
	background: url('../img/lbl/m554_m.png');
	top:0px;
	height:17px;
	line-height:14px;
	color:black;
}
.medal_554_right{
	background: url('../img/lbl/m554_r.png');
	top:0px;
	height:17px;
	width:28px;
}

/*Cake medal*/
.medal_140{
	opacity:1;
}
.medal_140_left{
	background: url('../img/lbl/m140_l.png');
	top:0px;
	height: 26px;
	width:42px;
}
.medal_140_mid{
	background: url('../img/lbl/m140_m.png');
	top:1px;
	height:25px;
	line-height:27px;
	color:white;
}
.medal_140_right{
	background: url('../img/lbl/m140_r.png');
	top:0px;
	height:26px;
	width:42px;
}

/*Book and pencil - Algebraic?*/
.medal_603{
	opacity:1;
}
.medal_603_left{
	background: url('../img/lbl/m603_l.png');
	top:0px;
	height: 26px;
	width:29px;
}
.medal_603_mid{
	background: url('../img/lbl/m603_m.png');
	top:5px;
	height:19px;
	line-height:19px;
	color:white;
}
.medal_603_right{
	background: url('../img/lbl/m603_r.png');
	top:4px;
	height:20px;
	width:20px;
}

/*Maple Idol Medal*/
.medal_6{
	opacity:1;
}
.medal_6_left{
	background: url('../img/lbl/m6_l.png');
	top:0px;
	height: 17px;
	width:14px;
}
.medal_6_mid{
	background: url('../img/lbl/m6_m.png');
	top:0px;
	height:17px;
	line-height:17px;
	color:white;
}
.medal_6_right{
	background: url('../img/lbl/m6_r.png');
	top:0px;
	height:17px;
	width:14px;
}