html, 
body {
  height: 100%;
}

.navbar{
	background-color: rgba(255,255,255,0.7);
  /* color: #404040; */
  border-radius: 0;
  position: absolute;
  z-index: 5;
}

.navbar-nav {
  float: right;
}
.emblem {
  float: left;
  height:32px;
  margin-top:9px;
}

#CharacterAvatar{
	background: transparent url('../img/Kankati.png');/*ImageEmbed:skip*/
	width:61px;
	height:86px;
	cursor:pointer;
	top:60px;
	left:15px;
	float:left;
	position:absolute;
}

.whiteglyph{
	color: white;
}

.navglyphs{
	float:right;
}

body{
	background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.container {
  position: absolute;
  height: 100%;
  overflow: auto;
}

.regular-page{
  margin-top: 100px;
  margin-bottom: 30px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	color: #404040;
	/*min-height: 400px;*/
}

.regular-page a{
	/* color:#00BAFF; */
}
