.navbar{
	/*padding-left:130px;*/
}

#CharacterAvatar{
	background: transparent url('../img/Kankati.png');/*ImageEmbed:skip*/
	width:61px;
	height:86px;
	cursor:pointer;
	top:60px;
	left:15px;
	float:left;
	position:absolute;
}

.whiteglyph{
	color: white;
}

.navglyphs{
	float:right;
}